.drag-drop-area {
    border: 2px dashed #6bac92;  
    border-radius: 12px;
    min-height: 150px;
    max-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #6bac92;  
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
  
    ion-icon {
      font-size: 50px;
      margin-bottom: 10px;
      color: #6bac92;
    }
  
    p {
      font-size: 16px;
      color: #6bac92;
      margin: 0;
    }
  
    &:hover {
      background-color: #e0e0e0;
    }
  }

  .image {
    max-height: 230px;
    object-fit: cover;
    width: 100%;
  }