.qr-header {
    background-color: #6bac92;
    padding: 4px 10px;
  }
  
  .qr-title {
    color: #fff;
    font-size: 18px;
  }
  
  .save-btn {
    // --background: #6bac92;
    // --color: #fff;
    --border-radius: 12px;
    --padding-start: 16px;
    --padding-end: 16px;
    --padding-top: 10px;
    --padding-bottom: 10px;
  }
  
  .qr-img-block {
    margin-top: 50px;
  }


  