.info-msg {
	margin: 0;
    color: #6bac92;
    font-weight: bold;
    font-size: 13px;
}

.font-30 {
	font-size: 30px;
}

.text-area {
    border: 1px solid #efefef;
    border-radius: 10px;
    padding: 10px;
}