// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
	--ion-color-primary: #6295A2;
	--ion-color-primary-rgb: 98,149,162;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #56838f;
	--ion-color-primary-tint: #72a0ab;

	--ion-color-secondary: #538392;
	--ion-color-secondary-rgb: 83,131,146;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #497380;
	--ion-color-secondary-tint: #648f9d;

	--ion-color-tertiary: #80B9AD;
	--ion-color-tertiary-rgb: 128,185,173;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #71a398;
	--ion-color-tertiary-tint: #8dc0b5;

	--ion-color-medium: #B3E2A7;
	--ion-color-medium-rgb: 179,226,167;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #9ec793;
	--ion-color-medium-tint: #bbe5b0;

	--ion-color-light: #f6f8fc;
	--ion-color-light-rgb: 246,248,252;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d8dade;
	--ion-color-light-tint: #f7f9fc;

}