.list-item {
    margin-bottom: 5px;
    border: 1px solid var(--ion-color-secondary);
    border-radius: 5px;
    --detail-icon-color: var(--ion-color-secondary);
    --detail-icon-opacity: 1
}

ion-avatar {
    img {
        --border-radius: 0px
    }
}

.folder-item {
    border-radius: 5px;
    box-shadow:none !important;
  }
  p {
    margin: 0;
  }