<ion-header class="ion-no-border">
  <ion-toolbar color="primary" mode="md">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Crop Image</ion-title>
    <ion-icon name="checkmark-done-outline" slot="end" class="save-icon" (click)="saveCrop()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center" style="max-height: calc(100vh - 60px);">
    <img id="crop-image" src="{{imageSrc}}">
  </div>
</ion-content>
